<!Doctype html>

<html>
    <head>
        <title>Username</title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>
        <div class="container text-center">
            <header>

            </header>
            <div id="mainBody">
                <div id="Messages">
                    {% if user.is_authenticated %}
                        <div id="MessageBoard">
                            <div class="card" data-spy="scroll">
                            {% for key, value in TextRetrieved.items %}
                                <div class="card-body">
                                {% for k, v in value.items  %}
                                    {% if 'https:' in  v %}
                                        {% if '.jpg' in v or '.png' in v %}
                                            <div class="d-flex p-2"><strong>{{ k }} :</strong>
                                            <a href="{{ v }}"><img src="{{ v }}" alt="user Sent Image" height="100"></a>
                                            </div>
                                        {% elif '.gif' in v and '#' not in v %}
                                            <div class="d-flex p-2"><strong>{{ k }} :</strong>
                                            <a href="{{ v }}"><img src="{{ v }}" alt="user Sent Gif"></a>
                                            </div>
                                        {% elif '.mp4' in v %}
                                            <video width="400" controls>
                                          		<source src="{{v}}" type="video/mp4">
                                         	    Your browser does not support HTML5 video.
                                        	</video>
                                        {% else %}
                                            <div class="d-flex p-2"><strong>{{ k }} :</strong>
                                            <a href="{{ v }}">{{ v }}</a>
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="d-flex p-2"><strong>{{ k }} :</strong> {{ v }}</div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    <form method="post" id="myForm" class="form-group" action="{% url 'sendDirect' %}">
                        <p>Say something {{ user.username }}!</p>
                        {% csrf_token %}
                        <input name="other_user" value="{{other_user}}" placeholder="{{other_user}}" readonly>
                        <input type="textera" name="enteredMessage" id="messageSent" placeholder="Enter your message here!">
                        <input type="submit" onClick="addMessage()" name="submit" value="Enter">
                    </form>
                    <a href="{%  url 'logout' %}"><p class="btn btn-lg btn-danger btn-block">Logout</p></a>
                    {% else %}
                        <a href="{%  url 'register' %}"><p class="btn btn-lg btn-success btn-block">Register</p></a>
                        <a href="{%  url 'login' %}"><p class="btn btn-lg btn-primary btn-block">Please login to send anything.</p></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>