    <!Doctype html>
    <html>
        <head>
            <title>UncleDanks</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <script src="https://www.gstatic.com/firebasejs/3.0.0/firebase.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="jquery-3.3.1.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        </head>
        <style>
            #MessageBoard{
                height: 500px;
                padding: 5px;
                overflow: scroll;
            }
            #myForm{
                clear: both; 
                padding: 5px;   
            }
        </style>
        <body>

            <div class="container text-center">
                <header>
                    <h1>Welcome to Moehs Messaging App</h1>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                            <a class="navbar-brand" href="#">WebSiteName</a>
                            </div>
                            <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                            </ul>
                        </div>
                    </nav>
                </header>
                <div id="mainBody">
                    <div id="Messages">

                    {% if user.is_authenticated %}
                        <div id="MessageBoard">
                            <div class="card" data-spy="scroll">
                            {% for key, value in TextRetrieved.items %}
                                <div class="card-body">
                                {% for k, v in value.items  %}
                                       <div class="d-flex p-2"><strong>{{ k }} :</strong> {{ v.message }}</div>
                                       {% if "message_info" in v %}
                                           {% if v.message_info.type == 'image' %}
                                                <div class="d-flex p-2"><strong>{{ k }} :</strong> <a href="{{ v.message_info.link }}"><img src="{{ v.message_info.link }}" height="250"/></a></div>

                                           {% elif v.message_info.type == "video" %}
                                                <div class="d-flex p-2"><strong>{{ k }} :</strong>
                                                    <a href="{{ v.message_info.link }}">
                                               <video width="400" controls>
                                                  <source src="{{ v.message_info.link }}" type="video/mp4">
                                                  <source src="{{ v.message_info.link }}" type="video/ogg">
                                                  Your browser does not support HTML5 video.
                                                </video>
                                                    </a>

                                                </div>
                                           {% elif v.message_info.type == "gif" %}
                                                <div class="d-flex p-2"><strong>{{ k }} :</strong> <a href="{{ v.message_info.link }}"><img src="{{ v.message_info.link }}" height="250"/></a></div>

                                           {% endif %}
                                       {% endif %}
                                {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    <form method="post" id="myForm" class="form-group" action="{% url 'index' %}">
                        <p>Say something {{ user.username }}!</p>
                        {% csrf_token %}
                        <input type="textera" name="enteredMessage" id="messageSent" placeholder="Enter your message here!">
                        <input type="submit" name="submit" value="Enter">
                    </form>
                    <a href="{%  url 'logout' %}"><p class="btn btn-lg btn-danger btn-block">Logout</p></a>
                    {% else %}
                        <a href="{%  url 'register' %}"><p class="btn btn-lg btn-success btn-block">Register</p></a>
                        <a href="{%  url 'login' %}"><p class="btn btn-lg btn-primary btn-block">Please login to send anything.</p></a>
                    {% endif %}
                </div>

            </div>
            <script>
              var myDiv = document.getElementById("MessageBoard");
          	    myDiv.scrollTop = myDiv.scrollHeight;
                $('.likes').click(function(){
                    var catid;
                    catid = $(this).attr("data-catid");

                    $.get('/directMessaging/', {"category_id": catid}, function(data){
                            $('#like_count').html(data);
                            $('likes').hide();
                    });
                });
                function addMessage() {
                    var messageDEv = "<p><bold>{{ user.username }}:</bold>";
                    var messageSent = document.getElementById('messageSent').value;
                    console.log("Message being sent: "+messageSent);
                    var message = messageDEv + document.getElementById('messageSent').value +"</p>";
                    console.log(message);
                    document.getElementById("Messages").innerHTML = message;
              }


            </script>
        </body>
    </html>