<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!--script src="main.js"></script-->
</head>
<body>
    <div class="container text-center">
        <div class="jumbotron">
            <h1 class="display">Login</h1>
        </div>

        {% if form.errors %}
        <p>The password or username that was entered was not correct</p>
        {% endif %}
        {% if next %}
        <p>Hey you can't access that page!</p>
        {% endif %}

        <form method='post' action="{% url 'login' %}">
                {% csrf_token %}
                
                <p>username: {{ form.username }}</p>
                <p>password: {{ form.password }}</p>
                <p><input type="submit" value="login"></p>
                <p><input type="hidden" name="next" value="{{ next }}"></p>
        </form>
    </div>
</body>
</html>